---
const { title, description } = Astro.locals.starlightRoute.entry.data;
---

<h1 id="_top">{title}</h1>
<div class="subtitle">{description}</div>
<style>
	@layer starlight.core {
		h1 {
			margin-top: 1rem;
			font-size: var(--sl-text-h1);
			line-height: var(--sl-line-height-headings);
			font-weight: 600;
			color: var(--sl-color-white);
		}
        div.subtitle {
            font-size: 1.2em;
            color: #999999;
            margin: 0 0 4px 0;
            line-height: 1.3em;
        }
	}
</style>